@import "../../GlobalStyle";

@media screen and (min-width: 901px) {
  .NavbarLogo {
    margin: 30px auto 30px auto;
    width: 120px;
    height: auto;
  }

  .NavbarLogoHorizontal {
    display: none;
  }
}

@media screen and (min-width:601px) and (max-width: 900px) {

  .NavbarLogo, .NavbarLogoLink {
    display:none;
  }

  .NavbarLogoHorizontal {
    margin: 30px 0 30px 0;
    width: 190px;
    height: auto;
    display: block;
   
  }

   /*////////////animation classes //////////*/

.scroll-down .NavbarContainer  {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .NavbarContainer  {
  transform: none;
}


}

@media screen and (max-width: 600px) {

  .NavbarLogo, .NavbarLogoLink {
    display:none;
  }


  .NavbarLogoHorizontal {
    margin: 15px 0 15px 0;
    width: 130px;
    height: auto;
    display: block;
   
  }

/*////////////animation classes //////////*/

.scroll-down .NavbarContainer  {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .NavbarContainer  {
  transform: none;
}

}