$green: #3df4b2;
$black: #1d1d1b;
$mainFont:'Heimat-mono', sans-serif;
@import url("https://use.typekit.net/ejc7vwp.css");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heimat-mono', sans-serif;  
}
