@import '../../GlobalStyle';

body {
    background-color: $green;
}

.HomepageContainer{
    display:grid;
    grid-template-columns: 1.2fr 6fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "mainnavbar intro"
                         "mainnavbar whatido "
                         "mainnavbar gallery"
                         "mainnavbar footer";
    color: white;
    width:100%;
    font-family: $mainFont;
    font-weight: bold;
    background-color: white;
}


.MainNavbarContainer {
    grid-area: mainnavbar;
    background-color: white;
    min-width: 150px;
    color: $black;
    font-family: $mainFont;
    font-weight: bold;
    box-shadow: 3px 3px 12px rgb(197, 197, 197);
    mix-blend-mode: multiply;
    z-index: 20;
    padding:0.5em;
}


.HomepageIntro {
    grid-area: intro;  
    height:100vh;
    font-size:12rem;
    background-color: $green; 
}

.HomepageWhatIDo{
    grid-area: whatido;
    background-color: $black; 
    height:300px;
    z-index: 20;
}

.HomepageLink{
    display: inline-block;
    text-decoration: none;
    color: $green;
    padding:1em 2em;
    border:solid 2px $green;
    margin-top:100px;
}

.GalleryContainer {
    min-height:600px;
}


.GalleryDisplay {
    grid-area: gallery; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
    column-gap: 2em;
    width: 80%;
    margin:3em auto;
}

.GalleryImg {
    width: 100%;
}


  
.FooterContainer{
    grid-area: footer; 
    z-index: 20;
}
